@CHARSET "UTF-8";

.navbar {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}

.navbar .navbar-collapse {
	text-align: center;
}

.nav-link {
	text-decoration: underline;
}

.exhibtitle{
	font-family: serif;
	font-variant: small-caps;
	text-align: center;	
}

body {
	background-attachment: fixed;
	
}


