@CHARSET "UTF-8";

.navbar {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}

.navbar .navbar-collapse {
	text-align: center;
}

.nav-link {
	text-decoration: underline;
}

.exhibtitle {
	font-family: serif;
	font-variant: small-caps;
	text-align: center;
}

.modalWait {
	display: none;
	position: fixed;
	z-index: 1111;
	top: 0; left : 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .8) url(media/loader.gif) 50% 50%
		no-repeat;
	left: 0;
}

body {
	background-attachment: fixed;
}

.aboutusback {
	
}

.aboutusmap {
	width: 100%;
	height: 400px;
	background-color: grey;
}

.loading {
	overflow: hidden;
}

.load {
	display: block;
}

.ilya-smc {
	font-variant: small-caps;
}

form .error {
	color: #ff0000;
}